<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.bellogatecaliphate.chat.HiltTestActivity"
            android:exported="false"
            android:networkSecurityConfig="@xml/network_security_config" />
    </application>

</manifest>